*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}
.bg-hero{
    background-image: url(../img/jumbo.png);
    background-size:cover;
}
.header_section {
    padding-top: 25px;
    width: 920px;
    margin: 0 auto;
    color: white;
}
footer{
    background-color: #23272A;
}

.main_conteiner_full, .main_conteiner_equal, .main_conteiner_odd{
    padding-top: 25px;
    width: 920px;
    margin: 0 auto;
    color: white;
}

.conteiner {
    width: 920px;
    margin: 0 auto;
    
}

.main_row_bg{
    background-color: #F6F6F6;
    margin-top: -10px;
}

.wave_rotate{
    transform:rotate(180deg);
}


/*dimensioni delle colonne*/
.col-1_6{
    width: calc(100% / 6);
}

.col-2_6{
    width: calc(100% /6 * 2);
}

.col-4_6{
    width: calc(100% /6 * 4);
}
.header_list, .header_logo, .nav_button{
    display: inline-block;
    vertical-align: middle;
}

.nav_button{
    text-align: right;
}

.header_list{
    text-align: center;
}

.header_box-text{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

.header_box-text-button{
    padding-top: 20px;
}


.header_list li{
    list-style: none;
    display: inline-block;
}

.header_list a{
    padding: 5px;
    color: white;
}
a{
    text-decoration: none;
}

.btn-light{
    background-color: white;
    padding: 4px 15px;
    border-radius: 15px;
}

.btn-dark{
    background-color:  #23272A;
    color: white;
    padding: 4px 15px;
    border-radius: 15px;
}



.main_btn a, .footer_button a{
    color: white;
    padding: 4px 15px;
    background-color: #8EA1E1;
    border-radius: 15px;
    
}

.btn{
    text-align: center;
}

.btn.light_blu{
    color: white;

}

a.btn-light{
margin: 30px;
}

.main_conteiner_equal{
    content: "";
    display: table;
    clear: both;
    padding: 50px 0;
}

.main_conteiner_img{
    float: left;
}

.main_conteiner_text{
    padding-top: 20px;
    float: left;
}

.main_conteiner_img_size{
    width: 80%;
}

.main_conteiner_tex h2, p{
    
    color: #23272A;
}

h2{
    color: #23272A;
}

.main_conteiner_img_size{
    width:90%;
}


.main_conteiner_odd{
    content: "";
    display: table;
    clear: both;
    padding: 50px 0;
}

.main_conteiner_img_odd{
    text-align: right;
    float: right;
}

.main_conteiner_text_odd{
    padding-top: 20px;
    float: right;
}

.main_conteiner_img_full, .main_conteiner_text_full{
    text-align: center;
}
.main_conteiner_full{
    padding: 50px 0;
}
.footer_row_column{
    content: "";
    display: table;
    clear: both;
    padding-top: 50px;
    margin: 0 auto;
}


.footer_column{
   float: left;
   padding: 0 15px;
}

.fab li{
    list-style: none;
    display: inline-block;
    
 }

 .footer_column li{
    list-style: none;
    color: white;
    
 }

 .state img{
    width: 15%;
    vertical-align: middle;
    padding-right: 5px;
 }

 h5, .icon-social{
     display: inline-block;
 }


 .icon-social{
     padding-right: 10px;
 }

 footer h3, footer h5{
    color: #7289DA;
 }

 .foooter_line_brake{
     border: 1px solid #7289DA;
 }

 .footer_bar{
    content: "";
    display: table;
    clear: both;
    padding: 50px 0;
    width: 100%;
 }

 .footer_logo{
     float: left;
 }

 .footer_button{
     float: right;
 }

 .main_star{
     text-align: center;
 }

 .main_star img{
    position: relative;
    top: 50px;
}

.wave img{
    width: 100%;
    color: #23272A;
}