*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}
.bg-hero{
    background-image: url(../img/jumbo.png);
    background-size:cover;
}
.header_section, main{
    padding-top: 25px;
    width: 920px;
    margin: 0 auto;
    color: white;
}


/*colori del testo*/

/*
h1-hero{
    color: white;
}

h2-section{
    color: #23272A;
}

h3-footer{
    color: #7188D9;
}

h5-tittle{
    color: #7289DA;
}
*/

/*dimensioni delle colonne*/
.col-1_6{
    width: calc(100% / 6);
}

.col-2_6{
    width: calc(100% /6 * 2);
}

.col-4_6{
    width: calc(100% /6 * 4);
}
.header_list, .header_logo, .header_button{
    display: inline-block;
    vertical-align: middle;
}

.header_list{
    text-align: center;
}

.header_box-text{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
}


li{
    list-style: none;
    display: inline-block;
}

.header_list a{
    padding: 5px;
    color: white;
}
a{
    text-decoration: none;
}

.btn-light{
    background-color: white;
    padding: 4px 15px;
    border-radius: 15px;
}

.btn-dark{
    background-color:  #23272A;
    color: white;
    padding: 4px 15px;
    border-radius: 15px;
}

a.btn-light{
margin: 30px;
}

.main_conteiner_equal{
    content: "";
    display: table;
    clear: both;
    padding: 50px 0;
}

.main_conteiner_img{
    float: left;
}

.main_conteiner_text{
    padding-top: 20px;
    float: left;
}

.main_conteiner_img_size{
    width: 80%;
}

.main_conteiner_tex h2, p{
    
    color: #23272A;
}

h2{
    color: #23272A;
}

.main_conteiner_img_size{
    width: ;
}


.main_conteiner_odd{
    content: "";
    display: table;
    clear: both;
    padding: 50px 0;
}

.main_conteiner_img_odd{
    text-align: right;
    float: right;
}

.main_conteiner_text_odd{
    padding-top: 20px;
    float: right;
}